SUBSYSTEMS=="usb", KERNELS=="1-6.3.1.1.1:1.0", DRIVERS=="ch341", SYMLINK+="BRKPR"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.2:1.0", DRIVERS=="ch341", SYMLINK+="BRKFL"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.3:1.0", SYMLINK+="BRKM0"
SUBSYSTEMS=="usb",KERNELS=="1-6.3.1.2:1.0", DRIVERS=="pl2303", SYMLINK+="BRKM1"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.6:1.0", DRIVERS=="cdc_acm", SYMLINK+="LIACT"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.5.3:1.0", DRIVERS=="cdc_acm", SYMLINK+="PLC_REC"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.1.1.3:1.0", DRIVERS=="ftdi_sio", SYMLINK+="THYU0"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.7:1.0", DRIVERS=="ftdi_sio", SYMLINK+="CAEN0"
SUBSYSTEMS=="usb", KERNELS=="1-8:1.0", DRIVERS=="ftdi_sio", SYMLINK+="T1Rpi"
SUBSYSTEMS=="usb", KERNELS=="1-6:1.0", DRIVERS=="ftdi_sio", SYMLINK+="T2Rpo"
SUBSYSTEMS=="usb", KERNELS=="1-1:1.0", DRIVERS=="ch341", SYMLINK+="BRKPROB"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.1.1.2.3:1.0", DRIVERS=="ch341", SYMLINK+="RIGOL"
SUBSYSTEMS=="usb", KERNELS=="1-6.3.1.4:1.0", DRIVERS=="ftdi_sio", SYMLINK+="BGA"

SUBSYSTEM=="usb", MODE="0666", GROUP="usbusers"

